{% extends 'index.html'%}
{% block form %}
 <!DOCTYPE html>
 <html>
 <head>
  <nav>
  	
    <div class="nav-wrapper">
    <a href="home" class="brand-logo">ARKEP</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="form">Forma</a></li>
        <li><a href="list">Lista</a></li>
      </ul>

    </div>
    <div class="brand-logo" style="width: 490px;">
    <a title="ART logo" href="?cid=1,1">
    	<img src="../img/logo.png" alt="ART"></img></a>
    </div>
		
  </nav>
  

  <style>
nav {background-color: lightsteelblue; }

</style>

 </head>
 <body>
  	 
 </body>
 </html>
 {% endblock form %}